# Ignorar pasta Arquivos_Lojas
Python - Aulas/Médio/Aulas/arquivos/Arquivos_Lojas/

# Ignorar pasta Estados
Python - Aulas/Médio/Aulas/arquivos/Estados/
*.env

Python - Aulas/Avançado/Selenium/chrome-win64/
