* {
    font-family: "Montserrat", sans-serif;
    color: #404040;
}

/* Cabeçalho */

.nav-links > li > a  {
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
}

.nav-links > li  {
    list-style-type: none;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
}

.back-nav {
    background-color: #f4f5f7;
}

/* Hero */

h1 {
    font-size: 35px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.21rem;
}

.hero-p {
    font-size: 19px;
    line-height: 1.3;
}

.a-hero {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}


/* Gratuitos */

.h2-gratuitos {
    font-weight: 400;
    font-size: 35px;
}

.span-gratuitos {
    color: #7a40be;
    font-weight: 600;
}

.h3-gratuito {
    font-size: 23px;
    font-weight: 700;
}

.gratuito-links > li > a {
    font-size: 19px;
    text-decoration: none;
    font-weight: 400;
}

.gratuito-links > li {
    list-style-type: none;
}

/* diferenciais */

.h2-diferenciais {
    font-size: 35px;
    font-weight: 400;
}

.storng-h2-diferenciais {
    font-weight: 600;
}

.p-diferenciais {
    font-size: 19px;
}

.h3-diferenciais {
    color: #005e88;
    font-size: 24px;
    font-weight: 600px;
}

.realces-diferenciais {
    font-weight: 600;
}

.h3-diferenciais-links {
    font-size: 35px;
    font-weight: 400;
}

h3.h3-diferenciais-links a {
    text-decoration: none;
    font-weight: 600;
    color: #005e88;
}

/* o que falam */

.h2-oqfalam {
    font-size: 35px;
    font-weight: 400;
}

.h2-oqfalam strong {
    font-weight: 600;
}

.h2-diferenciais {
    font-size: 35px;
    font-weight: 400;
}
.h2-diferenciais {
    font-size: 35px;
    font-weight: 400;
}

.btn-oqfalam {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

/* na midia */

.h2-namidia {
    font-size: 35px;
    font-weight: 400;
}

/* blog */

.h2-blog {
    font-size: 35px;
    font-weight: 400;
}

.postadoem-blog {
    font-size: 15px;
}

.postadoem-blog a {
    font-weight: 600;
    color: #f7a70c;
    text-decoration: none;
}

.titulo-postagem-blog {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.p-descricao-blog {
    font-size: 17px;
}

/* como ajudar */

.h2-comoajudar {
    font-size: 35px;
    font-weight: 400;
}

h2-comoajudar strong {
    font-weight: 600;
}

.lista-comoajudar {
    font-size: 19px;
}

.lista-comoajudar a {
    color: #008ff7;
    font-weight: 600;
}

/* minicurso */

.h2-minicurso {
    font-size: 35px;
    font-weight: 400;
}

.minicurso-realce {
    font-weight: 600;
}

/* rodape */

.titulo-rodape {
    font-size: 22px;
    font-weight: 600;
}

.rodape-link {
    color: #1a77a4;
}

.subtitulo-rodape {
    font-size: 20px;
    font-weight: 600;
}
.seg-subtitulo-rodape {
    font-size: 16px;
    font-weight: 600;
}
